/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree
 *= require_responsive
 *= require_foundation
 *= require_home_page
 *= require_add_page
 *= require_place_index_page

 */
body, h1, .grid-container{
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

body {
  margin: 2rem;
}

.searchbar {
  width: 22em;
  margin-left: 33em;
  margin-top: 3em;
}

#meetuprow {
  width: 26em;
  margin-left: 66%;
}

#yelp-image {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

#clickgn{
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

  font-size: 13px;
  line-height: 1.5;
}


.fa-heart {
  color: #ff7b7b;

}

.show-body {
  margin-left: 10em;
  margin-right: 14em;
}

#favorite {

}

.home-header {
  margin-top: 2em;
  margin-left: 4em;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;


}

.place-photo {
  width: 30%;

}

.place-grid-container {
  display: grid;
  text-align: center;
  border: 1px solid;
  padding: 1em;
}

.find {
  margin-left: 2em;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  bottom: 15em;

}

.grid-item {
  padding: 10px;
  font-size: 15px;
  text-align: center;

}

.grid-item h1 {
  font-size: 20px;
}

.meetuppic {
  background-image: url("images/meetups.png");
  background-repeat: no-repeat;
  height: 475px;
  width: 100%;
  margin-left: 10em;
  margin-right: 10em;
}

#meetupicon {
  width: 2em;
  height: 2em;
}

.meetuprow {
  top: 2em;
  margin-left: 23%;
  width: 36em;
}


.page-header {
  text-align: center;
}

.meet-feed {
  margin-top: 15em;
  margin-left: 14em;

}



.switch-container {
	position: absolute;
	-webkit-transform: translate3d( -50%, -50%, 0 );
	transform: translate3d( -50%, -50%, 0 );
  margin-left: 20px;

}
