/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
 .myLink {display: none}

.place-photo {
  width: 5em;

}

.header-img{
  background-image: url("images/travel-protection-header.jpg");
  height: 18em;
  max-width: 67em;
}

.page-header {
  text-align: center;
}

.sign {
  color: #f44336;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
/*


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.name {
  background-color: black;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
} */
