
#home {
  text-align: center;
}

.navbar {
  overflow: hidden;
  font-family: Century Gothic;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  text-decoration: none;
  padding: 9px 29px;

}

.small-6.columns {
  background-image: url("images/plan2.png");
  background-repeat: no-repeat;
  margin-top: 1em;
  width: 79em;
  margin-left: 1em;
  height: 43em;
  position:absolute;

}


.header-img {
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 79em;
  margin-left: 1em;
}

/* .container {
  width: 1000px;
  height: 700px;
  margin-top: 100px;
  position:relative;
} */


form.yelp-form {
  top: 23em;
  margin-left: 3.5em;
  width: 26em;
  height: auto;
  position: relative;
  z-index: 10;

}
/*
.calender-box {
  margin-left: 38em;
  margin-top: -16em;
  background-color: white;
  width: 30em;
  padding: 24px;
}  */
