
#home {
  text-align: center;
}

.navbar {
  overflow: hidden;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

.navbar a {
  float: left;
  font-size: 18px;
  text-decoration: none;
  padding: 9px 29px;

}

.grid-item {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.grid-item a {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

.yelp-container.row {
    margin-top: -14em;
    margin-left: 16em;
    margin-right: 16em;
}

.plan {
  background-image: url(images/gays.png);
  background-repeat: no-repeat;
  margin-left: 34em;
  margin-top: 1em;
  height: 29em;
  width: 51em;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.img-column {
  flex: 50%;
  max-width: 50%%;
  padding: 0 4px;
}

.plan2 {
  background-image: url(images/LESBIANS.png);
  background-repeat: no-repeat;
  margin-top: 9px;
  width: -webkit-fill-available;
  height: 33em;
  margin-left: 7em;

}


.header-img {
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 79em;
  margin-left: 3em;
}

form.yelp-form {
  bottom: 25em;
  margin-left: 42em;
  width: 24em;
  height: auto;
  position: relative;
  z-index: 10;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

form.yelp-form label {
  font-size: 17px;

}
