.tile h1 {
  font-size: 20px;
  text-align: center;
}

.tablecontainer {
  margin-left: 16em;
  margin-right: 16em;
  margin-top: -8em;
}

#search {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

table thead tr th {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 19px;

}

table.places-table {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: black
}

table tbody td {
  font-size: 16px;

}

table tbody tr td, table tr td {
    display: table-cell;
    line-height: 2.125rem;
}


div.places-list {
  margin-left: 4em;
  margin-right: 4em;
}

.tile p {
  text-align: center;
}

table a {
  text-transform: uppercase;
  text-shadow: 1px 1px grey;

}

.searchbar-container {
  background-image: url("images/searchhead.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  margin-left: 7em;
  margin-top: -2em;
}


div.callout.secondary {
  width: 32em;
  margin-left: 27%;
  bottom: 12em;
}


input#searchbar {
  z-index: 10;
  width: 34em;
  margin-top: 21em;

}
